@page
@model DAWPI.Pages.Login.AccesoDenegadoModel
@{
}

<div class="m-5 row g-3 align-items-center alert alert-danger text-center" role="alert">
    <h4 class="alert-heading">Nivel de acceso denegado.</h4>
    <p>
        Su usuario no cumple los requisitos para acceder a esta ventana de la app, es decir,
        no tiene acceso a ella.
    </p>
    <hr>
    <p class="mb-0">Para poder acceder a esta ventana, inicie sesión con un usuario que si tenga permiso para acceder</p>
</div>

