@page
@model DAWPI.Pages.Login.RestaurarContraseñaModel
@{
    ViewData["Title"] = "Restaurar Contraseña";
}

<h2>Restaurar Contraseña</h2>

<div>
    <form method="post">
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="Email" required>
        </div>

        <br />

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var modelState in ViewData.ModelState.Values)
                    {
                        foreach (var error in modelState.Errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    }
                </ul>
            </div>
        }

        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
