@page
@model DAWPI.Pages.Usuarios.BorrarModel
@{
}

@if (Model.citaDTO != null)

{
    <form method="post" style="background-color: rgba(248, 249, 250, 0.9); padding: 10px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
        <div class="container">
            <h2 style="font-size: 24px; margin-bottom: 10px;">Confirmar borrado</h2>
            <p>Por favor, confirma que deseas borrar el siguiente usuario:</p>
            <p><strong>Asunto:</strong> @Model.citaDTO.Asunto</p>
            <p>Introduce el nombre del asunto para confirmar el borradoo:</p>
            <div class="form-group">
                <input type="text" name="confirmacion" id="confirmacion" class="form-control" />
            </div>
            <br />
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        }
                    </ul>
                </div>
            }
            <br />
            <button type="submit" class="btn btn-danger">Borrar cita</button>
        </div>
    </form>
}
else
{
    <div class="alert alert-danger">
        <h4>Aún no ha seleccionado ninguna cita, o esta no existe.</h4>
        <p>
            Por favor, asegurese de que la cita existe, vuelva atrás para seleccionar una cita.
        </p>
    </div>
}


