@page
@model DAWPI.Pages.Usuarios.CitasModel
@{
    ViewData["Title"] = "Citas";
}

@{
    int cont = 0;
}

<form method="post" style="background-color: #f5f5f5; padding: 10px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
    <div class="container">
        <h2 style="font-size: 24px; margin-bottom: 10px;">Mis Citas</h2>

        <div style="margin-bottom: 10px;">
            <label for="estadoCita" style="font-weight: bold;">Filtrar por estado de la cita:</label>
            <select class="form-control" id="estadoCita" name="estadoCita" style="width: 200px; padding: 5px; border: 1px solid #ccc; border-radius: 4px; appearance: none; background-color: #f5f5f5;">
                <option value="">Todos</option>
                <option value="Pendiente de asignación">Pendiente de asignación</option>
                <option value="Pendiente de fecha y hora">Pendiente de fecha y hora</option>
                <option value="Asignada">Asignada</option>
                <option value="Finalizada">Finalizada</option>
            </select>
        </div>

        <table class="table" style="font-size: 16px;">
            <thead>
                <tr>
                    <th style="font-weight: bold; background-color: #4CAF50; color: white; text-align: center; padding: 5px;">Nº Cita</th>
                    <th style="font-weight: bold; background-color: #4CAF50; color: white; text-align: center; padding: 5px;">Asunto</th>
                    <th style="font-weight: bold; background-color: #4CAF50; color: white; text-align: center; padding: 5px;">Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cita in Model.listaCitasDTO)
                {
                    <tr class="cita-item">
                        <td style="text-align: center; padding: 5px;">
                            @{
                                cont++;
                                @cont
                            }
                        </td>
                        <td style="text-align: center; padding: 5px;">@cita.Asunto</td>
                        <td style="text-align: center; padding: 5px;">@cita.EstadoCita</td>
                        <td><button asp-page-handler="Detalles" class="btn btn-primary btn-sm" type="submit" name="detalle" id="detalle" value="@cita.Id">Detalles</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button asp-page-handler="Crear" type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer; font-size: 16px;">Nueva Cita</button>
    <br />
    <br />
</form>

<script>
    document.getElementById("estadoCita").addEventListener("change", function () {
        filtrarCitas();
    });

    function filtrarCitas() {
        var estadoSeleccionado = document.getElementById("estadoCita").value.toLowerCase();

        var filas = document.getElementsByClassName("cita-item");
        for (var i = 0; i < filas.length; i++) {
            var estadoCita = filas[i].getElementsByTagName("td")[2].innerText.toLowerCase();

            var mostrarFila = estadoSeleccionado === "" || estadoCita === estadoSeleccionado;

            filas[i].style.display = mostrarFila ? "" : "none";
        }
    }
</script>
